.timer-container {
	padding: 5px;
	display: grid;
	gap: 20px;
	text-align: center;
}
.countdown {
	display: flex;
	gap: 20px;
	justify-content: center;
}
@media (max-width: 992px) {
	.countdown {
		display: flex;
		flex-wrap: wrap;
	}
}
.time-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.time-box span {
	font-size: 2rem;
	font-weight: bold;
}
.time-label {
	font-size: 0.9rem;
	color: #555;
}
.progress-ring circle {
	fill: none;
	stroke-width: 8;
}
.progress-bg {
	stroke: #eee;
}
.progress {
	stroke: #dd8c69;
	stroke-linecap: round;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}
